version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: mongo_lab5
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: lab5
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data:
